.options {
    background-repeat: no-repeat;
    padding-left: 25px;
    background-image: url('media/folder-smaller.png');
}
.time {
    background-repeat: no-repeat;
    padding-left: 25px;
    background-image: url('media/sandglass-smaller.png');
}
.risk {
    font-variant-caps: small-caps;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.risk.low {
    color: green;
    background-image: url('media/risk-green-smaller.png');
}
.risk.medium {
    color: orange;
    background-image: url('media/risk-yellow-smaller.png');
}
.risk.high {
    color: red;
    background-image: url('media/risk-red-smaller.png');
}
.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
}
.tooltip.hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.options:hover:after{
    content: "Different options";
    width: 160px;
}
.time:hover:after{
    content: "Minimum time before cash-out";
    width: 250px;
}
.risk:hover:after{
    content: "Risk";
    font-variant-caps: normal;
    width: auto;
}
